html
{
    background-color: #EDF2C5;
    width: 1260px;
    height:940px;
}

.container
{
    margin-left: 160px;
    margin-right: 160px;
}

.header
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 53px;
}

.header__title
{    
    display: flex;
    align-items: center;
    width: 271px;
    height: 42px;
    font-family: 'Arial Black', sans-serif;
    font-size: 44px;
    color: #778a50;
    margin-bottom: 8px;
}

.header__icon-btn-block
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;    
    color: #778a50;
}

.header__icon-block__icon
{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.header__line
{
    width: 1px;
    height: 25px;
    background-color: #778a50;
}

.header__btn-block
{
    margin-left: 10px;
}

.header__btn-block button
{
    color: #778a50;
    background-color: #EDF2C5;
    border-radius: 3px;
    border:1px #778a50 solid;
}

#header__btn-block__btn-LOGIN
{
    width: 60px;
    height: 25px;

    background-color: #778a50;
    font-family: 'Arial BoldMT';
    font-size: 14px;
}

#header__btn-block__btn-JOIN
{
    width: 50px;
    height: 25px;
}

.nav
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #778a50;
    border-radius: 3px;
    width: 940px;
    height: 44px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.nav__text
{
    font-family: 'Arial Black';
    text-decoration-line: none;
    font-size: 16px;
    color: #EDF2C5;
    margin-left: 30px;
    margin-right: 30px;
}

.article
{
    
}

.article__img-main
{
    width: 940px;
    height: 448px;
    margin-bottom: 30px;
}

.article__vegebale-contact
{
    width: 940px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.article__vegetable
{
    width: 445px;
    margin-bottom: 35px;
}

.article__vegetable__title
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    height: 45px;
    background-color: #778a50;
    color:#EDF2C5;
    border-radius: 3px;
    font-family: 'Arial Black';
    font-size: 16px;
    padding-left: 30px;
    margin-bottom: 15px;
}

.article__vegetable__img-block
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 445px;
}

.article__vegetable__img
{
    width: 140px;
    height: 140px;
}

.article__contact
{
    width: 445px;
    margin-bottom: 35px;
}

.article__contact__title
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    height: 45px;
    background-color: #778a50;
    color:#EDF2C5;
    border-radius: 3px;
    font-family: 'Arial Black';
    font-size: 16px;
    padding-left: 30px;
}

.article__contact__content
{
    display: flex;
    flex-wrap: wrap;
    align-content: center;

    background-color: #F7FBDA;
    height: 140px;
    margin-top: 16px;
    padding-left: 15px;
}

.article__contact__content__text
{
    font-family: 'ArialMT Regular', sans-serif;
    font-size: 12px;
    color: #7D7D7D;
    line-height: 1.33em;
    margin-top: 16px;
}

.article__contact__content__separate-line
{
    width: 414px;
    height: 1px;
    background-color: #7D7D7D;
    
}

.footer
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1264px;
    height: 60px;
    background-color: #778a50;    
    margin-left: -168px;
}

.footer__copyright
{
    font-family: 'ArialMT Regular', sans-serif;
    font-size: 12px;
    color: #EDF2C5;
}